@media  (max-width : 745px){
    /* header */
    .header_ul{
        display: none;
    }
    .action_div{
        display: none;
    }
    .burger{
        display: block;
    }
    /* section2 */
    /* .section2_article{
      width: 696px;
      height: 104px;
    } */
     /* footer */
     footer{
        height: 283px;
    
     }
     .footer_a1{
        align-items: center;
     }
}

